<h3><a class="btn btn-secondary" href="/content"><i class="fa fa-plus"></i> Create New</a> content List</h3>
<table class="table table-striped">
   <thead>
      <tr>
         <th>Key</th>
         <th>En</th>
         <th>Ka</th>
         <th>Ru</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {{#each list}}
         <tr>
            <td>{{this.key}}</td>
            <td>{{this.en}}</td>
            <td>{{this.ka}}</td>
            <td>{{this.ru}}</td>
            <td>
               <a href="/content/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
               <a href="/content/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i
                     class="fa fa-trash fa-lg"
                     aria-hidden="true"
                  ></i></a>
            </td>
         </tr>
      {{/each}}
   </tbody>
</table>